practice/WcfTasks/EvalClient/Service References/ServiceReference1/EvalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/EvalService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="SubmitEval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="eval" nillable="true" type="q1:Eval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitEvalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submitter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetEvalResult" nillable="true" type="q2:Eval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetEvalsResult" nillable="true" type="q3:ArrayOfEval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvalMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractVersion" nillable="true" type="xs:string" />
  <xs:element name="MessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="EvalData" nillable="true" type="q4:Eval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>